{
  "plugins": [
    "stylelint-order",
    "stylelint-declaration-use-variable"
  ],

  "extends": [
    "stylelint-config-idiomatic-order",
    "stylelint-config-standard",
    "stylelint-config-css-modules"
  ],

  "rules": {
    "sh-waqar/declaration-use-variable": [[
      "/background/",
      "/color/",
      "/border/",
      "/outline/",
      "/shadow/",
      "/opacity/",
      "/font/"
    ]]
  }
}
