:root {
  /* Global */

  --theme-font-family: sans-serif;
  --theme-font-size: 13px;
  --theme-focus-outline-style: none;
  --animation-curve: cubic-bezier(0.07, 0.95, 0, 1);

  /* Controls: Button */

  --theme-button-enabled-opacity: 1;
  --theme-button-disabled-opacity: 0.5;

  /* Controls: Input */

  --theme-input-enabled-opacity: 1;
  --theme-input-disabled-opacity: 0.9;

  /* Controls: Doorhanger */

  --theme-doorhanger-border-color: rgba(0, 0, 0, 0.3);
  --theme-doorhanger-border-radius: 1px;
  --theme-doorhanger-background: #fff;
  --theme-doorhanger-box-shadow: -3px 3px 10px -1px rgba(0, 0, 0, 0.1);
  --theme-doorhanger-color: #000;
  --theme-doorhanger-expanded-transform: scale(1, 1);
  --theme-doorhanger-expanded-opacity: 1;
  --theme-doorhanger-collapsed-transform: scale(0, 0);
  --theme-doorhanger-collapsed-opacity: 0;
  --theme-doorhanger-arrow-image: url('../assets/Panel Arrow - 24.svg');

  /* Controls: Expandos */

  --theme-expando-down-image: url('../assets/Arrow Head - Down - 16.svg');
  --theme-expando-left-image: url('../assets/Arrow Head - Left - 16.svg');
  --theme-expando-right-image: url('../assets/Arrow Head - Right - 16.svg');
  --theme-expando-up-image: url('../assets/Arrow Head - Up - 16.svg');

  /* Window */

  --theme-window-background: #2a2e4e;
  --theme-window-color: #fff;

  /* Window Management Controls */

  --theme-window-controls-background-size: 16px 16px;
  --theme-window-controls-close: url('../assets/window-controls/glyph-window-close.svg');
  --theme-window-controls-minimize: url('../assets/window-controls/glyph-window-minimize.svg');
  --theme-window-controls-maximize: url('../assets/window-controls/glyph-window-maximize.svg');

  /* Tabbar */

  --theme-tabbar-height: 40px;
  --theme-tabbar-background: transparent;
  --theme-new-tab-button-image: url('../assets/New - 16.svg');
  --theme-new-tab-button-background: transparent;
  --theme-new-tab-button-hover-background: rgba(255, 255, 255, 0.05);

  /* Tab */

  --theme-tab-initial-width: 0;
  --theme-tab-initial-height: 0;
  --theme-tab-initial-opacity: 0;
  --theme-tab-open-width: var(--theme-tab-flex-width);
  --theme-tab-open-opacity: 1;
  --theme-tab-open-height: 100%;
  --theme-tab-closed-width: var(--theme-tab-initial-width);
  --theme-tab-closed-height: var(--theme-tab-initial-height);
  --theme-tab-closed-opacity: var(--theme-tab-initial-opacity);
  --theme-tab-flex-width: 190px;
  --theme-tab-hover-background: rgba(255, 255, 255, 0.05);
  --theme-tab-hover-color: #fff;
  --theme-tab-active-background: #f0f0f2;
  --theme-tab-active-color: #000;
  --theme-tab-active-background-position: 0 100%;
  --theme-tab-inactive-background: transparent;
  --theme-tab-inactive-color: #fff;
  --theme-tab-inactive-background-position: 0 0;
  --theme-tab-separator-color: rgba(255, 255, 255, 0.2);
  --theme-close-tab-button-image: url('../assets/Stop - 16.svg');
  --theme-tab-background-size: 100% 200%;
  --theme-tab-background-repeat: no-repeat;

  /* Navbar */

  --theme-navbar-height: 40px;
  --theme-navbar-background: #eee;

  /* Navbar: Navigation Buttons */

  --theme-back-button-image: url('../assets/Back - 16.svg');
  --theme-forward-button-image: url('../assets/Forward - 16.svg');
  --theme-refresh-button-image: url('../assets/Refresh - 16.svg');
  --theme-home-button-image: url('../assets/Home - 16.svg');

  /* Navbar: Toolbar Buttons */

  --theme-app-menu-button-image: url('../assets/Menu - 16.svg');
  --theme-app-sidebar-button-image: url('../assets/Sidebar - 16.svg');
  --theme-app-library-button-image: url('../assets/Library - 16.svg');
  --theme-app-extensions-button-image: url('../assets/Extensions - 16.svg');

  /* Locationbar */

  --theme-locationbar-background: #fff;
  --theme-locationbar-color: #000;
  --theme-locationbar-border: 1px solid var(--theme-separator-color);
  --theme-locationbar-border-radius: 3px;

  /* Locationbar: Badges */

  --theme-locationbar-security-unknown-color: #aaa;
  --theme-locationbar-secure-color: #090;
  --theme-locationbar-insecure-color: #900;

  /* Locationbar: Buttons */

  --theme-locationbar-bookmark-button-image: url('../assets/Bookmark - 16 - Outline.svg');
  --theme-locationbar-unbookmark-button-image: url('../assets/Bookmark - 16 - Filled.svg');
  --theme-locationbar-more-button-image: url('../assets/More - 16.svg');

  /* Inputbar */

  --theme-locationbar-input-flex-width: 30px;

  /* Page */

  --theme-page-background: #fff;

  /* App Menu */

  --theme-app-menu-width: 200px;
  --theme-app-menu-item-padding: 12px 14px;
  --theme-app-menu-new-window-button-image: url('../assets/Window - New - 16.svg');
  --theme-app-menu-new-private-window-button-image: url('../assets/Private Browsing - 16.svg');
  --theme-app-menu-sidebar-button-image: url('../assets/Sidebar - 16.svg');
  --theme-app-menu-library-button-image: url('../assets/Library - 16.svg');
  --theme-app-menu-extensions-button-image: url('../assets/Extensions - 16.svg');
  --theme-app-menu-preferences-button-image: url('../assets/Preferences - 16 - macOS.svg');
  --theme-app-menu-cut-button-image: url('../assets/Cut - 16.svg');
  --theme-app-menu-copy-button-image: url('../assets/Copy - 16.svg');
  --theme-app-menu-paste-button-image: url('../assets/Paste - 16.svg');
  --theme-app-menu-full-screen-button-image: url('../assets/Full Screen - 16.svg');
  --theme-app-menu-print-button-image: url('../assets/Print - 16.svg');
  --theme-app-menu-developer-button-image: url('../assets/Developer - 16.svg');

  /* Misc */

  --theme-separator-color: rgba(0, 0, 0, 0.2);

  /* Loading Spinner */

  --theme-tab-connecting: url('../assets/Ball-Comp-Grey.gif');
  --theme-tab-loading: url('../assets/Ball-Comp-Blue.gif');
}
